.aboutHeading {
    padding: 100px 0px;
    text-align: center;

    h1 {
        font-family: "Euphorigenic", sans-serif;
        font-size: 72px;
        color: #DD8DA1;
        font-weight: 100;
    }
} 