.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    background: #C1BBF5;
    border: 2px solid black;
}

.footer-container{
    padding: 42px 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    width: 175px;
}

.logo{
    width: 100%;
}

.footer-nav{
    height: 100%;
}


.footer-nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

.footer-social ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 144px;
}

.footer-social ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    width: 30.5px;
    margin-right: 27px;
}

.social-img{
    width: 100%;
}