.second-profile {
    padding: 124px 300px;
    background-color: #F3E8FF;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    &__top {
        display: flex;
        margin-bottom: 50px;
        flex-direction: row-reverse;

        &-left {
            width: 424px;
            height: 424px;
            border-radius: 12px;
            margin-right: 24px;
            overflow: hidden;

            // Image will be added later
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-right {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;

            .name {
                font-size: 40px;
                font-weight: 600;
                font-family: "Comfortaa", sans-serif;
                color: #C9549D;
                margin-bottom: 6px;
            }

            .title {
                font-size: 20px;
                font-family: "Nunito Sans", sans-serif;
                font-weight: 500;
                color: #4B3B74;
            }

            .description {
                font-size: 16px;
                font-family: "Nunito Sans", sans-serif;
                font-weight: 600;
                color: #2E2E2E;
                margin-bottom: 40px;
                white-space: pre-line;
            }

            .social-links {
                display: flex;
                align-items: center;
                margin-top: auto;

                a {
                    width: 20px;
                    height: 20px;
                    margin-right: 32px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }

    &__bottom {
        .heading {
            font-size: 36px;
            font-weight: 600;
            font-family: "Comfortaa", sans-serif;
            color: #4B3B74;
            margin-bottom: 50px;
        }

        .divider {
            width: 100%;
            height: 1px;
            background-color: #C2BFD6;
            margin-bottom: 50px;
        }

        .certifications-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
            gap: 24px;

            .certification-item {
                padding: 20px;
                background-color: #ffffff;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 70px;
                box-shadow: 4px 4px 0px 1px rgba(26, 26, 26, 0.699);

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 24px;
                }

                .title {
                    font-size: 20px;
                    font-weight: 600;
                    color: #4B3B74;
                    font-family: "Quicksand", sans-serif;
                    margin-right: auto;
                }
            }
        }
    }

    .seperator {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #C2BFD6;
        margin-bottom: 50px;
    }

    .element {
        position: absolute;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .top-left {
        width: 20.3vw;
        height: 20.3vw;
        top: -5vw;
        left: -2vw;
        animation: rotate 70s linear infinite;
    }

    .top-right {
        width: 19.21vw;
        height: 19.21vw;
        right: 10vw;
        top: 1vw;
        animation: rotate 50s linear infinite reverse;
    }

    .bottom-right {
        width: 30.9vw;
        height: 30.9vw;
        bottom: 9vw;
        right: -12vw;
        animation: rotate 45s linear infinite;
    }
}