.results-section {
    padding: 5vw 15.625vw;
    // background-color: #F8F9FA;

    .results-heading {
        font-size: 3.33vw;
        font-weight: 600;
        color: #7163DE;
        text-align: center;
        margin-bottom: 3vw;
        font-family: 'Comfortaa', sans-serif;
    }

    .results-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    .result-card {
        background: #F3E8FF;
        padding: 0.833vw;
        // border-radius: 1vw;
        box-shadow: 9px 9px 0px 1px rgba(26, 26, 26, 0.7);
        transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #2E2E2E;
        user-select: none;
        &:hover {
            transform: translateY(-5px);
            box-shadow: 9px 12px 0px 1px rgba(26, 26, 26, 0.7), inset 0px 0px 10px 1px #c9549c7a;
        }
        &:hover .card-top .card-title {
            color: #C9549D;
        }

        .card-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1.25vw;
            position: relative;

            .card-icon {
                font-size: 2.5vw;
                margin-left: auto;
            }

            .card-title {
                font-size: 3.33vw;
                font-weight: 500;
                color: #4D4D4D;
                font-family: 'Quicksand', sans-serif;
                margin: 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                transition: color 0.3s ease;
            }
        }

        .card-description {
            font-size: 1.25vw;
            color: #4D4D4D;
            font-weight: 500;
            font-family: 'Nunito Sans', sans-serif;
            margin: 0;
            text-align: center;
        }
    }
}

// Responsive styles
@media (max-width: 768px) {
    .results-section {
        padding: 5vw 5vw;

        .results-heading {
            font-size: 24px;
        }

        .results-cards {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .result-card {
            padding: 20px;

            .card-top {
                margin-bottom: 15px;

                .card-icon {
                    font-size: 32px;
                }

                .card-title {
                    font-size: 32px;
                }
            }

            .card-description {
                font-size: 16px;
            }
        }
    }
} 