.lists-wrapper{
    width:100%;
    display: flex;


    @media screen and (max-width: 1000px) {
        padding: 10px;
    }
}

.f-ul{
    list-style-type: none;

    overflow: hidden;
    width: 100%;
}

.f-ul li{
    width: 100%;
    display: flex;
}